.navbar {
  width: 100%;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 5px;
  font-size: 18px;
  background-color: var(--dull-white);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}

.flex-row-align {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar ul {
  list-style: none;
}
.navbar ul li {
  margin: 0 5px;
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar ul li a:hover {
  color: var(--primary);
}

/* .authentication {
  list-style: none;
}
.authentication li {
  margin: 5px;
  text-decoration: none;
} */

.ion-icon {
  color: #379d97;
}
