.signup {
  width: 50%;
  margin: 5px auto;
}
.signup .heading {
  margin: 0 auto;
  margin-bottom: 15px;
}
.signup .custom-input-container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.signup .signup-inputs-container {
  width: 60%;
}
.signup .gender {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.signup .custom-input-select {
  padding: 7.5px 20px;
  border: 2px solid var(--secondary);
  border-radius: 5px;
  outline: none;
  margin: 5px;
}
.signup .custom-input-select:focus {
  border-color: var(--primary);
}
.signup .custom-input-select::placeholder {
  color: rgb(189, 189, 189);
}


