@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --text-color: #2c2c2c;
  --primary: #379d97;
  --secondary: #99cecb;
  --accent: #e36b5a;
  --dull-white: #f9f9f9;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.red-bg {
  background-color: red;
}

#mapid {
  height: 90vh;
}
